:host {
    display: flex;
    align-items: center;
}

input {
    width: 48px;
    height: 56px;
    border-radius: 4px;
    border-width: 1px;
    text-align: center;
    font-size: xx-large;

    &:not(:last-of-type) {
        margin-right: 16px;
    }
}

button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    border: none;

    margin-left: 24px;

    font-weight: bold;
}
